@use "variables";
@use "fonts";
@use "sass:color" as color;

// Estilo base
@mixin alert-base($bg, $fg, $border) {
  position: relative;
  font-family: fonts.$font-mukta;
  font-weight: fonts.$font-weight-medium;
  font-size: 18px;
  padding: 10px 40px;
  border-radius: 15px;
  border: 2px solid $border;
  text-align: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 100%;
  margin-bottom: 5px;
  background-color: $bg;
  color: $fg;
}

//las difreentes tipos de alertas
@each $nombre, $color in variables.$theme-colors {
  $fg: if(color.channel($color, "lightness", $space: hsl) > 60%, #000, #fff);
  $border: if($nombre == "secondary", variables.$primary, variables.$secondary);

  .alert-#{$nombre} {
    @include alert-base($color, $fg, $border);
  }
}

//Esta clase sirve para que las alertas salgan arriba
.alert-container {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; // espacio entre alertas
    width: 90%;
    max-width: 1200px;
    padding: 0 20px;
  }

  //el icono para las alerts
  .alert-icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
  }