@use 'variables' as v;
@use 'mixins/asidevar' as aside;

$menu-width: 220px;
$menu-color: lighten( v.$secondary, 5%);
$menu-text-color: v.$light;

@include aside.slide-menu($menu-color, $menu-text-color, $menu-width);

.slide-menu.closed .slide-menu__toggle {
  animation: pulse 2s infinite alternate;
}

.slide-menu__content::-webkit-scrollbar {
  width: 4px;
}
.slide-menu__content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}