@use "variables";
@use "fonts";
@use "sass:color" as color;
@use "mixins/borders" as border;

// Estilo base para todos los badges
@mixin badge-base($bg-color) {
  font-family: fonts.$font-mukta;
  font-weight: fonts.$font-weight-bold;
  padding: 0 5px;
  font-size: 16px;
  text-align: center;
  border-radius: 0.5rem;
  margin: 10px auto;
  background-color: $bg-color;
  border: 1px solid variables.$secondary;
  color: if(
    color.channel($bg-color, "lightness", $space: hsl) > 60%,
    #000,
    #fff
  );
}

//Todas las variantes con los diferentes colores para los badge
@each $nombre, $color in variables.$theme-colors {
  .badge-#{$nombre} {
    @include badge-base($color);

    @if ($nombre == "secondary") {
      @include border.make-border-complete(
        variables.$default-border,
        variables.$default-border-color
      );
    }
  }
}