@use 'variables' as *;
@use 'sass:color' as color;
@use "mixins/buttons" as *;

.btn {
    display: inline-block;
    text-align: center;
    // Por si pone un link
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    margin: 5px 0;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    user-select: none;
}

@each $name, $color in $theme-colors {
    .btn-#{$name} {
        @include button-color($color);
        &.btn-efect{
            @include button-style($color);
        }
    }
}

.btn-lg{
    padding: 0.75rem 1.25rem;
    font-size: 1.25rem;
}

.btn-sm{
    padding: 0.25rem 0.75rem;
    font-size: 0.75rem;
}

.estilo-brillo {
    @include estilo-brillo();
}