@use "variables";
@use "fonts";
@use "sass:color" as color;

// Estilo base
@mixin navbar-base($bg, $fg) {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: $bg;
  color: $fg;
  font-family: fonts.$font-mplus;
  font-weight: fonts.$font-weight-medium;
  border: 2px solid $fg;
  border-radius: 25px;
  box-shadow: 0 0 0 2px $bg;

  .navbar-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-brand {
    font-family: fonts.$font-mplus;
    font-size: 30px;
    color: $fg;
  }

  .navbar-nav {
    margin: 10px;
    display: flex;
    gap: 15px;

    .nav-item {
      font-family: fonts.$font-mukta;
      font-weight: fonts.$font-weight-bold;
      font-size: 20px;
      color: $fg;
      padding: 10px;
      border-radius: 10px;
      transition: 0.4s;
      text-decoration: none;
      &:hover {
        background-color: $fg;
        color: $bg;
        cursor: pointer;
      }
    }
  }
}

//Diferentes temas para los navbar
@each $nombre, $color in variables.$theme-colors {
  $navbar-bg: if($nombre == "secondary", variables.$secondary, $color);
  $navbar-fg: if($nombre == "secondary", variables.$primary, variables.$secondary);

  .navbar-#{$nombre} {
    @include navbar-base($navbar-bg, $navbar-fg);

    //vamos a crear las vairaites de dropdown para los navbar
    .nav-item.dropdown {
      position: relative;

      .dropdown-menu {
        display: none;
        position: absolute;
        top: 56px;
        left: 0;
        background-color: $navbar-bg;
        border: 2px solid $navbar-fg;
        border-radius: 15px;
        padding: 10px;
        box-shadow: 0 0 0 2px $navbar-fg;
        z-index: 100;

        .dropdown-item {
          color: $navbar-fg;
          font-family: fonts.$font-mukta;
          font-weight: fonts.$font-weight-bold;
          padding: 8px 12px;
          border-radius: 10px;
          transition: 0.3s;
          white-space: nowrap;
          display: block;
          text-decoration: none;

          &:hover {
            background-color: $navbar-fg;
            color: $navbar-bg;
            cursor: pointer;
          }
        }
      }

      &:hover .dropdown-menu {
        display: block;
      }
    }
  }
}


//Modo hamburgeusa
.navbar-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;

  img {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 768px) {
  .navbar-toggle {
    display: block;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;

    .navbar-nav {
      display: none;
      width: 100%;
      flex-direction: column;

      &.active {
        display: flex;
      }
    }
  }
}

