@use "variables";
@use "fonts";
@use "sass:color" as color;
@use "mixins/buttons" as buttons;
@use "mixins/backgrounds" as bg;

// Estilo base
.navbar {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-family: fonts.$font-mplus;
  font-weight: fonts.$font-weight-medium;

  .navbar-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-brand {
    font-family: fonts.$font-mplus;
    font-size: 30px;
  }

  .navbar-nav {
    margin: 10px;
    display: flex;
    gap: 15px;

    .nav-item {
      font-family: fonts.$font-mukta;
      font-weight: fonts.$font-weight-bold;
      font-size: 20px;
      padding: 10px;
      transition: 0.4s;
      text-decoration: none;
      color: var(--sci-text-color);

      &:hover {
        cursor: pointer;
      }
    }

    .nav-item.dropdown {
      position: relative;

      .dropdown-menu {
        background-color: var(--sci-bg-color);
        display: none;
        position: absolute;
        top: 56px;
        left: 0;
        padding: 10px;
        z-index: 100;
        box-shadow: 0 0 0 2px;

        .dropdown-item {
          font-family: fonts.$font-mukta;
          font-weight: fonts.$font-weight-bold;
          padding: 8px 12px;
          transition: 0.3s;
          white-space: nowrap;
          display: block;
          text-decoration: none;
          color: var(--sci-text-color);
          margin: 0px 0px 5px 0px;

          &:hover {
            background-color: var(--sci-text-color);
            color: var(--sci-bg-color);
            cursor: pointer;
          }
        }
      }

      &:hover .dropdown-menu {
        display: block;
      }
    }
  }
}

// Boton hamburguesa
.navbar-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;

  img {
    width: 30px;
    height: 30px;
  }
}
@keyframes navbar-slide-down {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 500px; // Ajusta este valor según el contenido
    opacity: 1;
  }
}

@keyframes navbar-slide-up {
  from {
    max-height: 500px; // Ajusta este valor según el contenido
    opacity: 1;
  }
  to {
    max-height: 0;
    opacity: 0;
  }
}
@media (max-width: 768px) {
  .navbar-toggle {
    display: block;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;

    overflow: hidden;
    transition: max-height 0.4s ease-in-out, opacity 0.3s ease;

    .navbar-nav {
      display: flex;
      width: 100%;
      flex-direction: column;
      overflow: hidden;
      max-height: 0;
      opacity: 0;
      transition: max-height 0.4s ease, opacity 0.7s ease;

      &.active {
        max-height: 500px; // Adjust based on content height
        opacity: 1;
      }

      &.inactive {
        max-height: 0;
        opacity: 0;
      }
    }
  }
}
