$primary: #BB3A2D;
$secondary: #DCC9A9;
$success: #4E6851;
$info: #4B848A;
$warning: #fbc359;
$danger: #E70103;
$light: #F9F2F2;
$dark: #1A1A1A;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark
);