@use "../variables" as v;
@use "backgrounds" as back;

@mixin neon-effect($color, $intensity){
  box-shadow: 
    0 0 10px rgba($color, calc($intensity * 0.5)), //brillo neon sutil 
    0 0 20px rgba($color, calc($intensity * 0.3)),
    0 0 30px rgba($color, calc($intensity * 0.1));

  transition: all 0.3s ease;
}

@mixin text-neon-effect($color, $intensity){
  text-shadow: 
    0 0 10px rgba($color, calc($intensity * 0.5)),
    0 0 20px rgba($color, calc($intensity * 0.3)),
    0 0 30px rgba($color, calc($intensity * 0.1));

  transition: all 0.3s ease;
}

@mixin neon-gradient($color, $angle: 135deg, $intensity: 0.8) {
  @include back.background-gradient($color,$angle,$intensity);
  @include neon-effect($color, $intensity);
  @include neon-hover($color);
}
  
@mixin intense-neon-gradient($color, $angle: 135deg) {
    @include neon-gradient($color, $angle, 1);
    @include neon-hover($color);
}

@mixin neon-hover($color){
  &.hover-neon:hover {
    transform: translateY(-2px);
    box-shadow: 
      0 0 20px rgba($color, 0.7),
      0 0 40px rgba($color, 0.5),
      0 0 60px rgba($color, 0.3);
  }
  @include border-neon-active($color);
}

@mixin border-neon-active($color){
    &.hover-neon-active {
      box-shadow: 
        0 0 15px rgba($color, 0.8),
        0 0 30px rgba($color, 0.6),
        0 0 45px rgba($color, 0.3);
    }
}

@mixin text-neon-active($color){
  &.hover-neon-active {
    text-shadow: 
      0 0 15px rgba($color, 0.7),
      0 0 30px rgba($color, 0.5),
      0 0 45px rgba($color, 0.3);
  }
}


@mixin text-neon-hover($color){
  &.hover-neon:hover {
    transform: translateY(-2px);
    text-shadow: 
      0 0 20px rgba($color, 0.7),
      0 0 40px rgba($color, 0.5),
      0 0 60px rgba($color, 0.3);
  }
  @include text-neon-active($color);
}

@mixin boder-neon-complete($intensity: 0.8){
  &.border{
    @include make-border-neon(v.$default-border-color,"");
    
    &.hover-neon:hover{
      @include neon-hover(v.$default-border-color);
    }
  }

  @each $name, $color in v.$theme-colors {
      &.border-#{$name} {
        @include make-border-neon($color,"");
        &.hover-neon:hover{
          @include neon-hover($color);
        }
      }
  }
}

@mixin border-neon($position){
  &.border{
    @include make-border-neon(v.$default-border-color,$position);
    
    &.hover-neon:hover{
      @include neon-hover(v.$default-border-color);
    }
  }

  @each $titulo, $direccion in v.$positions{
    &.border-#{$titulo}{
      @include make-border-neon(v.$default-border-color,$position);
      &.hover-neon:hover{
        @include neon-hover(v.$default-border-color);
      }
    }
  }

  @each $name, $color in v.$theme-colors {
    &.border-#{$name} {
      @include make-border-neon($color,$position);
      &.hover-neon:hover{
        @include neon-hover($color);
      }
    }
  }
}

//Funcion extra terminada
@mixin make-border-neon($color, $position, $intensity: 1){
  $Ofx: 0;
  $Ofy: 0;
  $Blur1: 10px; 
  $Blur2: 20px; 
  $Blur3: 30px; 

  @if($position == "start"){
    $Ofx: -5px;
    $Blur1: 10px;
    $Blur2: 5px;
  }
  @else if($position == "end"){
    $Ofx: 5px;
    $Blur1: 10px;
    $Blur2: 5px;
  }
  @else if($position == "top"){
    $Ofy: -5px;
    $Blur1: 10px;
    $Blur2: 5px;
  }
  @else if($position == "bottom"){
    $Ofy: 5px;
    $Blur1: 7px;
    $Blur2: 5px;
  }

    box-shadow: 
      #{$Ofx} #{$Ofy} #{$Blur1} rgba($color, $intensity * 0.6),
      #{$Ofx} #{$Ofy} #{$Blur2} rgba($color, $intensity * 0.4),
      #{$Ofx} #{$Ofy} #{$Blur3} rgba($color, $intensity * 0.2);
    transition: all 0.3s ease;
}