@use "../variables";
@use "../mixins/neon";
@use "sass:color";

@mixin size($size){
    font-size: #{$size};
}

@mixin align($direction){
    text-align: #{$direction};
}

@mixin weight($weight){
    font-weight: #{$weight};
}

@mixin line-height($height){
    line-height: #{$height};
}

@mixin style($style){
    font-style: #{$style};
}

@mixin decoration($decoration){
    text-decoration: #{$decoration};
}

@mixin header($tipo, $size){
    @include size($size);
    @if $tipo <= 4 {
        @include line-height(1.2);
    }
    @else{
        @include line-height(1.3);
    }
    @include weight(500);
}

@mixin text-color($color, $opacity){
    color: rgba($color, $opacity);
}

@mixin text-neon($color, $opacity){
    $text-color: color.mix(rgba(255, 255, 255, 0.623),$color,20%);
    @include text-color($text-color,$opacity);
    @include neon.text-neon-effect($color, $opacity);
    @include neon.text-neon-hover(color.mix(white,$color,20%));
}