pre[class*="language-"] {
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
    border-radius: 0.3em;
    background: #272822;
}

:not(pre)>code[class*="language-"] {
    background: #272822;
    padding: 0.1em;
    border-radius: 0.3em;
    white-space: normal;
}