@use "../variables";
@use "../mixins/colors" as c;

.text-neon{
    --sci-text-opacity: 1;
    @include c.text-neon(variables.$primary,var(--sci-text-opacity));
}

@each $nombre, $color in variables.$theme-colors{
    .text-#{$nombre}{
        --sci-text-opacity: 1;
        @include c.text-color($color, var(--sci-text-opacity));
    }

    .text-#{$nombre}-neon{
        --sci-text-opacity: 1;
        @include c.text-color($color, var(--sci-text-opacity));
        @include c.text-neon($color, var(--sci-text-opacity));
    }
}

@each $nombre, $color in variables.$subtle-colors{
    .text-#{$nombre}{
        --sci-text-opacity: 1;
        @include c.text-color($color, var(--sci-text-opacity));
    }

    .text-#{$nombre}-neon{
        --sci-text-opacity: 1;
        @include c.text-color($color, var(--sci-text-opacity));
        @include c.text-neon($color, var(--sci-text-opacity));
    }
}

@each $nombre, $color in variables.$emphasis-colors{
    .text-#{$nombre}{
        --sci-text-opacity: 1;
        @include c.text-color($color, var(--sci-text-opacity));
    }

    .text-#{$nombre}-neon{
        --sci-text-opacity: 1;
        @include c.text-color($color, var(--sci-text-opacity));
        @include c.text-neon($color, var(--sci-text-opacity));
    }
}

@for $i from 1 through 4{
    .text-opacity-#{calc($i/4)*100}{
        --sci-text-opacity: #{calc($i/4)};
    }
}